extends layout

include mixins/_storeCard

block content
    .inner
        h2= title
        //- pre= locals.h.dump(stores)
        .stores
            each store in stores
                //- h2= store.name
                +storeCard(store) 